recursive-include src/ctrando/arguments/presets *.toml
recursive-include src/ctrando/enemyai/customscripts *.bin
include src/ctrando/strings/huffman_table.pickle
include src/ctrando/postrando/msu1/chrono_msu1.asm
include src/ctrando/postrando/msu1/ct_msu1.ips
include src/ctrando/postrando/msu1/msu1_notes.txt